@import "./colors.scss";

* {
  padding: 0;
  margin: 0;
  font-size: 14pt;
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none;
  color: $purple1;

  &:hover {
    text-decoration: underline;
  }
}

main {
  margin: auto auto;
  display: flex;
}

h1,
h2 {
  border-bottom: 1px solid $gray;
}

h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 24pt;
}

h2 {
  margin: 25px 0;
  font-size: 22pt;
}

h3 {
  margin: 20px 0;
  font-size: 20pt;
}

h4 {
  margin: 15px 0;
  font-size: 18pt;
}

h5 {
  margin: 10px 0;
  font-size: 16pt;
}

h6 {
  margin: 5px 0;
  font-size: 14pt;
}

p {
  margin: 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid $gray;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $gray2;
}

img {
  margin: 16px;
  max-width: 100%;
}

code {
  background-color: $gray2;
  padding: 3px;
  border-radius: 8px;
  margin: 8px 0;
}

pre code {
  display: block;
  padding: 8px;
}

main {
  display: block;
  padding: 48px;
  margin-left: 300px;
  max-width: 100%;
}

li {
  margin: 8px 0 0 32px;
}

hr {
  border: 0;
  border-top: 4px solid $gray;
  margin: 16px 0;
}

#dark-theme {
  background-color: $black;
  color: $white;

  code {
    color: $black;
  }

  tr:nth-child(even) {
    background-color: $black2;
  }
}
