@import "./colors.scss";

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 300px;
  background-color: $purple2;
}

li {
  list-style: none;
}

#home,
.categoryName,
.categoryItem a {
  display: block;
  color: $white;
  font-size: 16pt;
  padding: 8px;
}

.categoryName {
  margin-top: 8px;
}

.categoryList {
  background-color: $purple4;
  margin-bottom: 8px;
  border-radius: 0 0 16px 16px;
}

#home,
.categoryName {
  &:hover {
    cursor: pointer;
    background-color: $purple1;
    text-decoration: none;
  }
}

.categoryItem {
  &:hover {
    background-color: $purple3;
  }

  a:hover {
    text-decoration: none;
  }

  &:last-child {
    border-radius: 0 0 16px 16px;
  }
}
