@import "./colors.scss";

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 300px;
  background-color: $purple2;
  overflow-y: auto;

  ul {
    font-size: 12pt;
  }

  li {
    list-style: none;
  }

  a {
    color: $white !important;

    &:hover {
      text-decoration: none;
    }
  }
}

#main-list {
  width: 100%;
  margin: 10px;
}

#home {
  margin: 0;
  border-radius: 8px;

  a {
    display: block;

    img {
      height: 56px;
      width: 64px;
      margin: 8px;
    }
  }

  &:hover {
    background-color: $purple1;
  }
}

.category {
  color: $white;
  padding: 8px;
  margin: 8px 0 0 0;
  border-radius: 8px;

  svg {
    margin-left: 8px;
  }

  &:hover {
    background-color: $purple1;
    cursor: pointer;
  }
}

.category-list {
  background-color: $purple4;
  border-radius: 0 0 8px 8px;
  display: none;
}

.category-item {
  padding: 8px;
  margin: 0;

  a {
    color: $white;
    display: block;
  }

  &:hover {
    background-color: $purple3;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }
}

.displayed {
  background-color: $purple4;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid $purple2;

  &:hover {
    background-color: $purple3;
  }
}

#socials {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.social {
  color: $white;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $purple4;
  }
}

#menu-button {
  display: none;
  position: fixed;
  z-index: 1;
  margin: 5px;
  padding: 10px 12px 7px 12px;
  border: none;
  border-radius: 20px;
  outline: 0;
  background: $purple4;
  color: $white;
}

#model {
  padding: 8px;
  margin: 8px 0 0 0;
  border-radius: 8px;

  a {
    color: $white;
  }

  &:hover {
    background-color: $purple1;
  }
}

@media (max-width: 1100px) {
  #menu-button {
    display: block;
  }

  nav {
    display: none;
  }

  main {
    margin: 0;
  }
}

@media (max-width: 450px) {
  nav {
    width: 100%;
  }
}