:root {
  --main-color: #8743cc;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
}

main {
  margin: auto auto;
  display: flex;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 200px;
  background-color: var(--main-color);
}

nav ul li {
  list-style: none;
  color: var(--white);
  font-size: 20px;
  padding: 5px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#markdown {
  padding: 50px;
  margin-left: 200px;
}
